body {
  color: #f9f9f9;
  background-color: #010101;
}

a {
  text-decoration: underline;
  color:  whitesmoke;
  font-style: italic;
}

.Link-Emoji-Button {
  font-style: normal;
  text-decoration: unset;
}

hr {
  background-color: rgb(87, 87, 87);
  height: 1px;
  border: none;
}

input[type=text] {
  padding: 10px;
  background-color: white;
  font-size: medium;
  width: 100%;
  max-width: 400px;
  text-overflow: ellipsis;
  border-radius: 8px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: lightgrey;
  min-height: 0vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Add-bullet-wrapper {
  padding: 20px;
  background-color: lightgrey;
}

.Bullet {
  padding: 10px;
}

.Bullet-image {
  /* width: 100px; */
  max-height: 200px;
  border-radius: 12px;
}

.Responsive-layout {
  display: flex;
  min-height: calc(100vh - 45px);
}

.Responsive-item {
  flex-grow: 1;
  flex-basis: 200px;
  max-height: calc(100vh - 45px);
  overflow: scroll;
}

.Responsive-item:nth-child(1) {
  flex-grow: 3;
}

.Responsive-item:nth-child(2) {
  flex-grow: 1;
}

.Responsive-item:nth-child(3) {
  flex-grow: 5;
}

iframe{
  filter: invert(.9) saturate(0.5) hue-rotate(145deg);
}

.Media-Container {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
  overflow: scroll;
  height: calc(100vh - 45px);
}

.Media-Loading {
  padding: 20px 0 !important;
}

.Media-item {
  max-width: 100%;
  max-height: calc(100vh - 45px);
  opacity: 0.9;
}

.Spot-light {
  animation: fadeIn 2s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.9;
  }
}

.Notes {
  /* margin: 0 20px; */
  text-align: left;
  opacity: 0.8;
  overflow: scroll;
  font-size: small;
  padding: 0 25px;
  border-top-left-radius: 8px;
  background-color: #1f1f1f;
}

.Notes-Editor {
  width: 100% !important;
  height: calc(100vh - 150px) !important;
}

.Settings {
  padding: 20px;
}

.Calendar-Settings-Container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100% - 100px);
  border: dashed 2px whitesmoke;
  color: whitesmoke i !important;
  border-radius: 20px;
  margin: 20px;
}

.Settings-Container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100% - 100px);
  max-height: calc(100% - 100px);
  border: dashed 2px whitesmoke;
  color: whitesmoke i !important;
  border-radius: 20px;
  margin: 25px;
  padding: 25px;
  overflow: auto;
}

.Calendar-Settings {
  text-align: flex-start;  
}

.Media-Items {
  display: flex;
  gap: 10px;
  overflow: scroll;
}

.Media-Item-Controls {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.Media-Settings-Container {
  padding: 20px;
}

.Media-Image {
  max-height: 200px;
}

.Small-Button {
  border: solid 1px whitesmoke;
  padding: 2x;
  background-color: transparent;
  color: whitesmoke;
}
.Small-Button:hover {
  cursor: pointer;
}

.Button {
  border: solid 1px whitesmoke;
  padding: 6px 12px;
  border-radius: 4px;
  background-color: transparent;
  color: whitesmoke;
  font-size: small;
}
.Button:hover {
  cursor: pointer;
}

.Menu {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 12px 20px;
  font-size: normal;
}

.Import-Export-Controls {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 4px;
}

.Import-Preview {
  padding: 40px;
  border: solid 2px gray;
  border-radius: 20px;
  max-width: 600px;
  text-overflow: ellipsis;
  overflow: scroll;
}

.Import-Media-Container {
  display: flex;
  overflow: scroll;
  gap: 6px;
}